@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
}

ul {
	list-style-type:none;
}

a {
	color:#F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

/* Cambios realizados si la resolución es menor a 800px */

@media screen and (max-width: 799px) {
	
	body{
		background-color:#332F29;
	}

	#contenedor{
		border: 1px solid black;
		height: 450px;
		margin: 0;
	}

	nav{
		background-color:bisque;
		width: 800px;
		height: 100px;
	}
	
	a{
		color: black;
	}

	section{
		width: 800px;
		background-color: darkgray;
		margin: 0;
		border-top: 1px solid black;
	}

	aside{
		width: 800px;
		border-top: 1px solid black;
	}

	p{
		text-align: left;
	}

}
