<h1>Esta es la sección GALERÍA</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sed deserunt repellendus eveniet non nobis eum assumenda nesciunt rerum qui enim natus asperiores ipsum commodi ut placeat, nam, sapiente quibusdam.</p>