/* Comienzo sección General */
.cabecera{
    background-color: bisque;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.logoytitulo{
    width: 80%;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.logoytitulo img{
   margin: 40px 0px 20px 100px;
}

.logoytitulo h1{
    display: inline-block;
    margin-left: 12px;
    font-size: 40px;
    position: relative;
    bottom: 30px;
}

.logo2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2 img {
    border-radius: 50%;
    width: 70%;
    border: 2px solid black;
}

nav{
    background-color: black;
    margin-bottom: 10px;
}

nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
}

nav ul li{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    border: 1px solid grey;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

nav ul li a.activo{
    text-decoration: underline;
    color: aqua;
}

nav ul li a:hover{
    color:aqua;
}

main {
    background-color: bisque;
}

footer{
    background-color: bisque;
    color: black;
    text-align: center;
    padding: 3px;
    margin-top: 10px;
}
/* Fin sección General */ 

/* Comienzo sección Principal */
.principal{
    display: flex;
    justify-content: center;
}

.principal img{
    width: 50%;
}

.principal h1{
    text-align: center;
}
/* Fin sección Principal */

/* Comienzo sección Episodios */
.episodios{
    display: flex;
    justify-content: center;
}

.episodios img{
    width: 50%;
}

main h1{
   text-align: center;
}
/* Fin sección Episodios */

