<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>Club Literario Admin</title>
            <link rel="stylesheet" href="/stylesheets/normalize.css">
            <link rel="stylesheet" href="/stylesheets/estilo_literario.css">
        </head>

        <body>
            <header class="cabecera">
                <div class="logoizquierda">    
                    <img src="/images/Logo.jpg" alt="Logo1">       
                </div>
            </header>

            {{{body}}}
        
            <footer>
                <h3> Diseño by Javier Castelli. All Rights Reserved </h3>
            </footer>
            
            
        </body>
</html>    
    
    