#contenedor{
    background-color: beige;
    width: 400px;
    height: 900px;
    border: 2px solid black;
    padding: 20px;
    color: black;
    position: static; /* posicionamiento estático */
}
 
#caja1{
    position: absolute; /* posicón absoluta de la caja */
    top: 0;
    left: 0;
    /* la caja queda arriba a la izquierda */
    background-color: brown;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 20px;
    color: whitesmoke;
    margin-bottom: 20px;
}

#caja2{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 20px;
    color: black;
    position: static;
    margin-bottom: 20px;
}

#caja3{
    background-color: blanchedalmond;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 20px;
    color: black;
    position: static;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}